body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #202020;
	background-image: url(images/white_bar.png), url(images/bkrd.png);
	background-repeat: repeat-y, no-repeat;
	background-position: center, top;
	background-size:  600px 8px, 1920px 992px;
	width: 512px;
	margin: auto;
}
h2 {
	color:#333333;
}
h3 {
	color:#333333;
}
h4 {
	color:#333333;
}
p {
	color:#333333;
}
a {
	color:#000060;
}
textarea {
	font-family: 'Source Code Pro';
	width: 130%;
	border: 0px;
	background-color: #C8C8C8;
	font-size: 90%;
	tab-size: 2;
	margin: auto;
}
pre {
	width: 130%;
	font-family: 'Source Code Pro';
	background-color: #C8C8C8;
	font-size: 90%;
	tab-size: 2;
	margin: auto;
}
div.centre {
	display: block;
  width: 100%;
  margin: auto;
}
tt {
	font-family: 'Source Code Pro';
	font-size: 100%;
	font-weight:bold;
}

div.whitecolumn {
}
div.blog {
}
div.blog img {
	width: 100%;
}
div.postcontent {
	background-color: #F2F1E6;
}
div.sidepanel {
	background-color: #FFFFFF;
	position: absolute;
	float: left;
	left:0px;
	top: 100px;
	font-size:80%;
	z-index:-2;
	width:256px;
}

table, td {
    border: 0;
}

div.widetable table {
	width: 1024px;
}
