/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/J0GYVYTizO1mjpT3aOcSbQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v9/Ya11CJGBCnKoJHvb8B2EOw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasDy2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD9V_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-family: 'Arvo';
	background-color: #F2F1E6;
	width: 512px;
	margin: auto;
}
h2 {
	color:#333333;
}
h3 {
	color:#333333;
}
h4 {
	color:#333333;
}
p {
	color:#333333;
}
a {
	color:#000060;
}
textarea {
	font-family: 'Source Code Pro';
	width: 130%;
	border: 0px;
	background-color: #C8C8C8;
	font-size: 90%;
	tab-size: 2;
	margin: auto;
}
pre {
	width: 130%;
	font-family: 'Source Code Pro';
	background-color: #C8C8C8;
	font-size: 90%;
	tab-size: 2;
	margin: auto;
}
div.centre {
	display: block;
  width: 100%;
  margin: auto;
}
div.blog {
}
tt {
	font-family: 'Source Code Pro';
	font-size: 100%;
	font-weight:bold;
}

div.whitecolumn {
	background-color:#f9f9f9;
	padding: 10px 10px;
	border-style:solid;
	border-width:1px;
}

div.sidepanel {
	position: absolute;
	left:0px;
	z-index:2;
}

table, td {
    border: 0;
}

div.widetable table {
	width: 1024px;
}
